
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* imagem */

.img{
    width: 400px;
    height: 500px;

}

img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
   
}
/* centralizando intens na tela */

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    background-color: rgb(179, 177, 177);
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteudo {
    display: flex;
}

/* login */



.login {
    width: 400px;
    height: 500px;
    background-color: rgb(214, 210, 210);
    border-bottom-right-radius:3% ;
    border-top-right-radius: 3%;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.login h2 {
    font-size: 30px;
    text-decoration: underline;
    margin: 30px 0;
    align-self: flex-start;
}


.login label {
    font-size: 20px;
    color: rgb(29, 28, 28);
    margin-bottom: 6px;

}

.login input {
     
    margin-bottom: 40px;
    height: 30px;
    border:none;
    border-bottom: 1px solid rgb(29, 28, 28);
    background-color: transparent;
    outline: none;

}

.login input:hover {
    border-bottom: 1px solid #c13584;
}

.login .senha {
    display: flex;
    position: relative;

}

.login .senha input {
    width: 100%;

}
.senha  .lnr-eye {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

 }
 .lnr-eye:hover {
     color:  #c13584;
 }

.links {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
}

.links a {
    color: rgb(29, 28, 28);
    transform: all 300m ease;
}

.links a:hover {
    color: rgb(41, 41, 241);
}


.btns {
    display: flex;
    flex-direction: column;
}

 button {
      font-size: 16px;
      border: none;
      padding: 8px;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      margin-bottom: 4px;
      width: 100%;
      height: 40px;
    
    }

.btn {
    background-color: rgb(50, 50, 247);
    transition: all 500ms ease-in-out;
    margin-top: 6px;
}

.btn:hover {
    background:linear-gradient( 90deg,rgb(50, 50, 247),rgb(10, 10, 75))
}
.facebook {
    
    background-color:rgb(43, 43, 156);
    transition: all 500ms ease-in-out;

}

.facebook:hover {
    background:linear-gradient( 90deg,rgb(10, 10, 75),rgb(50, 50, 247))
}
.instagram {

  background: linear-gradient(
    90deg,
    rgba(118, 114, 209, 1) 0%,
    rgba(61, 58, 120, 0.989233193277311) 32%,
    rgba(109, 61, 129, 1) 50%,
    rgba(161, 25, 83, 1) 88%,
    rgba(219, 21, 37, 1) 100%
  );
  transition: all 500ms ease-in-out;
}

.instagram:hover {
    background:linear-gradient(  90deg,rgba(118, 114, 209, 1),rgba(161, 25, 83, 1),rgba(219, 21, 37, 1));
    
}
